<ul data-no-turbolink>
  <li>
    <%= form_for :scribbler, :url => alchemy.admin_static_content_search_url, :html => {:method => :get} do |f| %>
      <%= f.labeled_text_field :query, :label => "Suchbegriff" %>
      <%= f.submit "Suchen" %>
    <% end %>
  </li>
  <% ScribblerContainer.all.each do |container| %>
    <li class="scribbler-group" data-scribbler-container-id="<%= container.id %>">
      <%= container.description %><br />
      <ul class="" data-scribbler-container-id="<%= container.id %>">
        <% container.groups.each do |group| %>
          <li><%= link_to_unless_current group.human_name, {:action => "group_edit", :id => group.id}  %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>